#banner {
    .bg_banner_img {
      background-image: url("https://barattson.com/sliders/1715585212.webp");
      height: 45vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: flex;
      flex-direction: column;
      justify-content: center;
  
      .banner_content {
        width: 50%;
        .btn_banner {
          padding: 10px 20px;
          color: #fff;
          border: none;
          border-radius: 5px;
          background-color: var(--btn_bg_color);
        }
      }
    }
  }

  @media only screen and (max-width: 1000px) {
    #banner {
      .bg_banner_img {
        .banner_content {
          width: 100%;
          h1 {
            font-size: 36px;
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 800px) {
    #banner {
      .bg_banner_img {
        background-image: none;
      }
    }
  }
  