#courses {
  .card_body {
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 15px rgba(8, 14, 28, 0.06);

    .card_img {
      width: 100%;
      overflow: hidden;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      img {
        width: 100%;
        transition: 0.5s;

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }

    .courses_card_content {
      padding: 17px 20px;
      .card_title {
        h3 {
          line-height: 20px;
          margin-bottom: 20px;
          font-weight: 500;
          font-size: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1001px) {
  #courses{
    .card_body {
      .courses_card_content {
        padding: 15px 10px;
        .card_title {
          h3 {
            font-size: 15px;
          }
        }
        .card_desc {
          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}
