#popular_categories {
    .category_cards_body {
      background-color: var(--blue);
      color: #fff;
      cursor: pointer;
  
      .category_title {
        padding: 20px 20px 12px 20px;
        height: 100px;
  
        .category_title_text {
          font-family: sans-serif;
          font-size: 20px;
          line-height: 21px;
        }
  
        .redline {
          width: 50px;
          height: 5px;
          background-color: var(--btn_bg_color);
          transition: width 0.5s;
        }
      }
  
      .category_arrow_icon {
        display: flex;
        justify-content: end;
        padding: 20px;
        i {
          transition: 0.5s;
        }
      }
  
      &:hover {
        background-color: var(--btn_bg_color);
        .category_title {
          .redline {
            width: 70px;
            background-color: #fff;
          }
        }
  
        .category_arrow_icon {
          i {
            rotate: -135deg;
          }
        }
      }
    }
  }