* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #0a2240;
  --btn_bg_color: #e31836;
}

h1 {
  font-weight: 700;
  font-size: 50px;
}

section {
  margin: 80px 0;
}
section .title_part .sect_title_head {
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 400;
}
section .title_part .sect_title_desc {
  font-size: 16px;
  font-weight: 200;
}
section .btn {
  display: flex;
  justify-content: end;
  margin-top: 40px;
}
section .btn button {
  font-size: 16px;
  padding: 6px 20px;
  line-height: 36px;
  font-weight: 100;
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: var(--btn_bg_color);
}

#banner .bg_banner_img {
  background-image: url("https://barattson.com/sliders/1715585212.webp");
  height: 45vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#banner .bg_banner_img .banner_content {
  width: 50%;
}
#banner .bg_banner_img .banner_content .btn_banner {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: var(--btn_bg_color);
}

@media only screen and (max-width: 1000px) {
  #banner .bg_banner_img .banner_content {
    width: 100%;
  }
  #banner .bg_banner_img .banner_content h1 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 800px) {
  #banner .bg_banner_img {
    background-image: none;
  }
}
#popular_categories .category_cards_body {
  background-color: var(--blue);
  color: #fff;
  cursor: pointer;
}
#popular_categories .category_cards_body .category_title {
  padding: 20px 20px 12px 20px;
  height: 100px;
}
#popular_categories .category_cards_body .category_title .category_title_text {
  font-family: sans-serif;
  font-size: 20px;
  line-height: 21px;
}
#popular_categories .category_cards_body .category_title .redline {
  width: 50px;
  height: 5px;
  background-color: var(--btn_bg_color);
  transition: width 0.5s;
}
#popular_categories .category_cards_body .category_arrow_icon {
  display: flex;
  justify-content: end;
  padding: 20px;
}
#popular_categories .category_cards_body .category_arrow_icon i {
  transition: 0.5s;
}
#popular_categories .category_cards_body:hover {
  background-color: var(--btn_bg_color);
}
#popular_categories .category_cards_body:hover .category_title .redline {
  width: 70px;
  background-color: #fff;
}
#popular_categories .category_cards_body:hover .category_arrow_icon i {
  rotate: -135deg;
}

#courses .card_body {
  width: 100%;
  height: 100%;
  box-shadow: 0px 10px 15px rgba(8, 14, 28, 0.06);
}
#courses .card_body .card_img {
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#courses .card_body .card_img img {
  width: 100%;
  transition: 0.5s;
}
#courses .card_body .card_img img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
#courses .card_body .courses_card_content {
  padding: 17px 20px;
}
#courses .card_body .courses_card_content .card_title h3 {
  line-height: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
}

@media only screen and (max-width: 1001px) {
  #courses .card_body .courses_card_content {
    padding: 15px 10px;
  }
  #courses .card_body .courses_card_content .card_title h3 {
    font-size: 15px;
  }
  #courses .card_body .courses_card_content .card_desc p {
    font-size: 12px;
  }
}
.swiper {
  width: 100%;
  box-shadow: 0px 10px 15px rgba(8, 14, 28, 0.06);
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 15px rgba(8, 14, 28, 0.06);
}

.slide_img {
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: 0.5s;
}
.swiper-slide img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#slider .tutor_info {
  text-align: center;
  padding: 16px;
}
#slider .tutor_info .tutor_name h5 {
  font-weight: 600;
  color: #1b1d1f;
  line-height: 28px;
  font-size: 20px;
}
#slider .tutor_info .tutor_branch p {
  font-size: 15px;
  font-weight: 200;
  color: #0d223f;
}

#youtube .ytb_img img {
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
#youtube .ytb_content {
  padding: 100px 70px 70px 55px;
  position: relative;
  background-color: #f8f8f8;
  padding-left: 10%;
}
#youtube .ytb_content .content_text p {
  font-weight: 200;
  line-height: 30px;
  font-size: 25px;
}
#youtube .ytb_content .content_heads h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
}
#youtube .ytb_content .category_btn {
  justify-content: start;
  padding: 0;
}
#youtube .ytb_content .category_btn button {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
}
#youtube .ytb_content .ytb_logo {
  position: absolute;
  top: 65%;
  left: 70%;
}
#youtube .ytb_content .ytb_logo img {
  width: 150px;
  transform: rotate(-20deg);
  opacity: 0.2;
}

@media only screen and (max-width: 1200px) {
  #youtube .ytb_img {
    height: 100%;
  }
  #youtube .ytb_img img {
    height: 100%;
  }
}
@media only screen and (max-width: 768px) {
  #youtube .ytb_content .ytb_logo img {
    width: 100px;
  }
}